.ButtonHolder{
    display: block;
    margin: auto;
    height: 30px;
    text-align: center;
}
.button {
    border-style: solid;
    border-width: 1px;
    background-color: #E43012;
    height: 58px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover{
    background-color: #b6260e;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
.padding-right{
    padding-right: 10px;
}
.padding-left{
    padding-left: 10px;
}