.header{
    display: block;
    position: relative;
}

.header_text {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 8px;
    height: 65px;
    margin: 0;
}
@media only screen and (max-width: 600px) {
    .header_text {
        height: auto;
        padding-bottom: 10px;
    }
}