.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /*scroll if needed*/
    background-color: rgb(0,0,0); /*When modal is opend, the background color*/
    background-color: rgba(0,0,0,0.4);
}
.modal_container {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: solid;
    width: 75%;
}
.modal_header {
    background-color: #E43012;
    padding:5px;
    margin-bottom: 15px;
    font-size: 22px;
}
.modal_body {
    padding: 0px 20px;
}
.modal_footer {
    background-color: #E43012;
    padding: 5px;
    margin-top: 15px;
    font-size: 13px;
}
.modal_close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal_close:hover {
	cursor: pointer;
} 
.modal_image {
	max-height: 200px;
	max-width: 250px;
}